*{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    margin: 0;
    background: seagreen;
    color: white;

}
.introduction h1{
padding: 5px;
font-family: 'Raleway',sans-serif;
font-size: x-large;
font-weight: 200;
}
.introduction p{
    padding: 2px;
    font-family: 'open sans',sans-serif;
    font-size: medium;
    font-weight: lighter;
}
nav{
background-color: #00695c;
padding: 9px 15px;
display: flex;
justify-content: space-around;
border-radius: none;

}
.video{
    width: 100%;
    height: 480px;
    object-fit: cover;
}
.text{
    width: 100%;
    margin: 0;
}
.text h1{
    padding: 5px;
    font-family: 'Raleway',sans-serif;
    font-size: x-large;
    font-weight: 200;
}
.text li{
    font-family: 'Nunito',sans-serif;
    font-size: medium;
    font-weight: lighter;
    padding: 1px;
}
.banner{
    width: 100%;
    margin: 0px;
} 
.banner button{
    background: #98FB98;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: medium;
    border-radius: 80px;
    margin-bottom: 10px;
}

footer h3,footer p{
    padding: 2px;
    color:white;
    text-align: center;
    background-color: #00695c;
}
header h1{
    padding: 5px;
    font-family: 'Raleway',sans-serif;
    font-size: x-large;
    font-weight: 200;
}
.image{
    width: 100%;
    height: 480px;
    object-fit: fill;
}
.features h2{
    padding: 5px;
    font-family: 'poppins',sans-serif;
    font-weight: 200;
    font-size: x-large;

}
.features p{
    padding: 2px;
    font-family: 'open sans',sans-serif;
    font-weight: lighter;
    font-size: medium;
}
.features li{
    font-family: 'Nunito',sans-serif;
    font-size: medium;
    font-weight: lighter;
    padding: 1px;
}
@media (max-width: 768px) {
    section{
        width: 95%;
        padding: 1.5rem ;
    }
}
